.header {
  @include grid-parent;
  @include padding($spacing-sm n);
  align-items: center;
  color: $c-primary;
  margin-bottom: $spacing-sm;
  position: relative;

  @include mq($tablet) {
    @include padding($spacing-xl n);
  }
}

.header--dark {
  color: $c-white;
}
