.header {
  @include absolute(0);
  @include grid-parent;
  @include padding($spacing-sm n);
  align-items: center;
  color: $c-primary;
  margin-bottom: $spacing-sm;
  height: $header-height;
  z-index: $z-index-nav;
}

.header--dark {
  color: $c-white;
}
