.header {
  @include absolute(0);
  @include grid-parent;
  @include padding($spacing-sm n);
  align-items: center;
  color: $c-primary;
  margin-bottom: $spacing-sm;
  height: $header-height;
  z-index: $z-index-nav;
  justify-content: space-between;
}

.header--dark {
  color: $c-white;
}

.logo {
  @include padding(0 $grid-spacing-mobile);
  font-size: 30px;

  @include mq($tablet) {
    @include padding(0 $grid-spacing);
  }
}

.list {
  display: flex;
}

.listItem {
  @include margin(x $spacing-xs x $spacing-sm);
  display: flex;
  align-items: center;
  position: relative;
  font-size: $fs-sm;

  button {
    @include padding(x $spacing-xs);
    display: flex;
    align-items: center;
    position: relative;
    span {
      margin-right: $spacing-xs;
    }

    svg {
      width: 25px;
    }
  }

  &:first-of-type button {
    margin-left: 0;

    svg {
      width: 20px;
    }
  }

  @include mq($tablet) {
    font-size: $fs-base;
    @include margin(x $spacing-sm x $spacing-md);

    span {
      margin-right: $spacing-sm;
    }
  }
}

.listActive {
  &:after {
    content: '';
    display: block;
    height: 4px;
    background: black;
    width: 100%;
    position: absolute;
    left: 0;
  }
}
