.container {
  @include absolute(calc($header-height + $spacing-sm) x x $col-1);
  @include grid-parent;
  @include padding(0);
  flex-flow: column;
  align-items: flex-start;
  border: 1px solid $c-black;
  width: $col-10;
  z-index: $z-index-modal-content;
  background: $c-white;

  @include mq($tablet) {
    @include absolute(inherit x $spacing-md $col-1);
    align-items: flex-end;
    flex-flow: row wrap;
    padding-right: 0;
  }
}

.content {
  @include grid-child;

  @include mq($tablet) {
    width: $col-8;
  }
}

.title {
  @include margin($spacing-sm x 0);

  @include mq($tablet) {
    @include margin($spacing-lg x 0);
  }
}

.description {
  @include margin($spacing-xs x $spacing-sm);

  @include mq($tablet) {
    @include margin($spacing-xs x $spacing-lg);
  }
}

.links {
  @include grid-parent;
  @include margin(0);
  @include padding(0);
  flex-flow: row;
  width: $col-12;
  justify-content: space-between;
  text-align: center;

  @include mq($tablet) {
    @include margin($spacing-xs x $spacing-lg);
    padding-left: 0;
    width: $col-4;
  }
}

.technologies {
  @include grid-parent;
  width: $col-12;
  font-size: $fs-xs;
  font-style: italic;
  margin-bottom: 10px;
}

.technology {
  @include padding($spacing-xs);
}

.item {
  @include padding($spacing-xs);
  @include margin(0);
  width: $col-12;
  border-top: 1px solid #000000;

  &:nth-of-type(2) {
    border-left: 1px solid black;
  }

  @include mq($tablet) {
    border: none;
  }

  &:hover {
    font-style: italic;
  }
}
