// Colors
$c-black: #000000;
$c-primary: #000000;
$c-white: #ffffff;
$c-yellow: #ffc914;

$c-action: $c-yellow;
$c-bg: $c-white;
$c-highlight: rgba($c-yellow, 0.6);

// Fallback font stacks https://systemfontstack.com/
$ff-sans-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
  helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$ff-serif-stack: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
  Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, serif;
$ff-mono-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

// Typefaces
$ff-sans: RightGrotesk, $ff-sans-stack;
$ff-mono: Inconsolata, $ff-mono-stack;

// Font Weights
$fw-bold-sans: 700;
$fw-medium-sans: 400;
$fw-regular-mono: 300;

// Font Sizes
$fs-xs: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-md: 18px;
$fs-h3: 26px;
$fs-h2: 36px;
$fs-h1: 50px;

// Line Heights
$lh-base: 1.5;
$lh-loose: 1.75;
$lh-md: 1.4;
$lh-tight: 1.25;
$lh-tighter: 1.2;
$lh-heading: 1;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 50px;
$spacing-xxl: 90px;
$spacing-xxxl: 150px;

// Grid Spacing
$grid-spacing-mobile: 2.5vw;
$grid-spacing: 1.25vw;

// Grid Column Widths
$col-1: calc(1 / 12 * 100%);
$col-2: calc(2 / 12 * 100%);
$col-3: calc(3 / 12 * 100%);
$col-4: calc(4 / 12 * 100%);
$col-5: calc(5 / 12 * 100%);
$col-6: calc(6 / 12 * 100%);
$col-7: calc(7 / 12 * 100%);
$col-8: calc(8 / 12 * 100%);
$col-9: calc(9 / 12 * 100%);
$col-10: calc(10 / 12 * 100%);
$col-11: calc(11 / 12 * 100%);
$col-12: calc(12 / 12 * 100%);

// Borders
$border: 1px solid;

// Box Shadow
$underline-link: inset 0 -1px 0 currentColor;

// Accessibility
$focus-outline-width: 5px;
$focus-outline: $focus-outline-width solid $c-action;

// Layout
$gutter--small: 10px;
$gutter--large: 15px;

// Breakpoints
$mobile: 321px;
$mobile-lg: 410px;
$tablet: 600px;
$tablet-lg: 768px;
$desktop: 1024px;
$desktop-lg: 1440px;

// Header
$header-height: 100px;

// Transitions
$transition-primary: all 150ms ease-in-out;

// Easings
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

// Z-Indices
$z-index-1: 1;
$z-index-2: 2;
$z-index-nav: 1000;
$z-index-modal-content: 1002;
$z-index-image-overlay: 1004;
$z-index-skip-link: 9999;
