// h1
@mixin h1() {
  @include fluid-font($tween-start: 36px $mobile, $tween-end: 100px $desktop-lg);
  font-family: $ff-sans;
  line-height: $lh-heading;
  font-weight: $fw-bold-sans;
  -webkit-text-stroke: 1px $c-black;
  color: $c-white;
}

// h4
@mixin h4() {
  @include fluid-font($tween-start: 17px $mobile, $tween-end: 24px $desktop-lg);
  font-family: $ff-sans;
  line-height: $lh-tight;
  font-weight: $fw-bold-sans;
}

@mixin body-text {
  @include fluid-font($tween-start: 17px $mobile, $tween-end: 18px $desktop-lg);
  font-family: $ff-mono;
  line-height: $lh-base;
}
