// h1
@mixin h1() {
  @include fluid-font($tween-start: 36px $mobile, $tween-end: 100px $desktop-lg);
  font-family: $ff-sans;
  line-height: $lh-heading;
  font-weight: $fw-medium-sans;
  -webkit-text-stroke: 1px $c-black;
  letter-spacing: 1px;
  color: $c-white;

  @include mq($tablet) {
    letter-spacing: 3px;
    -webkit-text-stroke: 1.5px $c-black;
  }
}

// h4
@mixin h4() {
  @include fluid-font($tween-start: 17px $mobile, $tween-end: 24px $desktop-lg);
  font-family: $ff-sans;
  line-height: $lh-tight;
  font-weight: $fw-medium-sans;
  letter-spacing: 0.5px;
}

@mixin body-text {
  @include fluid-font($tween-start: 17px $mobile, $tween-end: 18px $desktop-lg);
  font-family: $ff-mono;
  line-height: $lh-base;
}
