.gallery {
  perspective: 100vw;
  width: 100vw;
  height: calc(100vh - 2 * $grid-spacing-mobile);
  position: relative;
  margin-left: -$grid-spacing-mobile;
  overflow: hidden;

  @include mq($tablet-lg) {
    width: 100vw;
    height: calc(100vh - 2 * $grid-spacing);
    margin-left: -$grid-spacing;
  }

  @include mq($desktop) {
    width: 100vw;
    height: calc(100vh - 4 * $grid-spacing);
    margin-left: -2 * $grid-spacing;
  }
}

.headingContainer {
  position: relative;
  top: 50%;
  transform: translateY(calc(-50% - $header-height/2));
  z-index: 10;
}

.heading {
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.galleryContainer {
  @include absolute(0 0 0 0);
  width: 100%;
  height: 100vh;
}

.zoomIn,
.zoomOut {
  width: 100%;

  @include mq($tablet-lg) {
    @include absolute(x x x 0);
    width: calc(100% - 40px - $grid-spacing);
    height: calc(50vh - 2 * $grid-spacing);
    z-index: 20;
    cursor: pointer;
  }

  @include mq($desktop) {
    width: calc(100% - 40px - 2 * $grid-spacing);
    height: calc(50vh - 4 * $grid-spacing);
  }
}

.zoomIn {
  cursor: url(/cursor/zoom-in.png) 20 20, zoom-in;
}

.zoomOut {
  bottom: 0;
  cursor: url(/cursor/zoom-out.png) 20 20, zoom-out;
}

.imageContainer {
  perspective: 100vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.galleryImage {
  position: absolute;
  max-width: 80%;

  @include mq($tablet-lg) {
    transform: translate(65%, 50%);
    width: 50%;
    max-width: inherit;
  }

  @include mq($desktop) {
    width: 30%;
  }
}

.slider {
  @include absolute(x 0 100px 0);
  @include margin(0 $grid-spacing-mobile);
  @include padding(0 $grid-spacing-mobile);
  cursor: pointer;
  width: 95vw;

  @include mq($tablet-lg) {
    @include absolute(15vh x x calc(100% - 40px - $grid-spacing));
    @include margin(0 $grid-spacing);
    @include padding(0 $grid-spacing);
    transform: rotate(90deg);
    width: 70vh;
    -webkit-transform-origin: left top;
  }

  @include mq($desktop) {
    @include absolute(15vh x x calc(100% - 40px - 2 * $grid-spacing));
    @include margin(0 2 * $grid-spacing);
  }
}

.sliderTicks {
  display: flex;
  justify-content: space-between;
  pointer-events: cursor;

  @include mq($tablet-lg) {
    @include margin(1px x x -8px);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    flex-direction: column;
    height: 100%;
  }
}

.tick {
  margin-top: -20px;
  transform: rotate(90deg);

  @include mq($tablet-lg) {
    margin-top: 0px;
    transform: rotate(0deg);
  }
}

.range {
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;

  &:focus,
  input[type='range'] {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 1s;
    background: $c-black;
    z-index: 2;
  }

  &::-webkit-slider-thumb {
    border-width: 1px;
    border-style: solid;
    height: 40px;
    width: 20px;
    background: $c-white;
    border-color: $c-black;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }

  @include mq($tablet-lg) {
    &:hover {
      outline: 0;
    }
  }
}
