html,
body {
  @include body-text;
  color: $c-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;

  + p {
    margin-top: $spacing-sm;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  color: inherit;
}

h1,
.h1 {
  @include h1;
}

h4,
.h4 {
  @include h4;
}
