$duration-mobile: 15s;
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.tickerWrap {
  @include fixed(0 x x 0);
  width: 100%;
  overflow: hidden;
  height: $ticker-height;
  border-top: 1px solid $c-black;
  border-bottom: 1px solid $c-black;
  box-sizing: content-box;
  padding-left: 100%;
  background-color: $c-white;
  z-index: $z-index-ticker;
}

.ticker {
  display: inline-block;
  height: $ticker-height;
  padding-right: 100%;
  white-space: nowrap;
  box-sizing: content-box;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: $duration-mobile;

  @include mq($tablet-lg) {
    animation-duration: $duration;
  }
}

.text {
  display: inline-block;
  font-style: italic;
  font-size: $fs-sm;
  padding-top: 10px;

  span {
    margin-right: $spacing-md;
  }

  @include mq($tablet-lg) {
    font-size: $fs-base;
    padding-top: 8px;

    span {
      margin-right: $spacing-xxxl;
    }
  }
}
