@import 'normalize.css';
@import 'abstracts';
@import 'base';

html,
body {
  background-color: $c-bg;
  padding: 0;
  margin: 0;
  width: 100%;

  &.dark-mode {
    background-color: $c-black;

    input {
      &::-webkit-slider-runnable-track {
        background: $c-white;
      }
    }
  }
}

body {
  @include padding($grid-spacing-mobile);

  @include mq($tablet) {
    @include padding($grid-spacing);
  }

  @include mq($desktop) {
    @include padding($grid-spacing * 2);
  }
}

main {
  min-height: 50vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  @include hide;
}

.hidden {
  opacity: 0;
}

.mobile-only {
  @include mq($tablet) {
    display: none;
  }
}

// ---------------------------------------------------------------------------
// Text highlight
// ---------------------------------------------------------------------------

::selection {
  background: $c-highlight;
  text-shadow: none;
}
